.header {
    position: relative;
    background: var(--light-bg);    
    flex-shrink: 0;
}

.container {
    max-width: var(--container-main);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 1360px) {
        width: 1170px;
    }
    @media (max-width: 1180px) {
        width: 970px;
    }
    @media (max-width: 969px) {
        width: 768px;
    }
    @media (max-width: 767px) {
        width: 320px;
    }
}

.content {
    height: var(--content-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        display: none;
    }
}

.mobileContent {
    display: none;
    @media (max-width: 767px) {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }
}

.menuHamburger {
    color: var(--icon-color);
    display: flex;
    z-index: 12;
    margin-left: 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slideLogo 0.7s;

    p {
        color: var(--primary-color);
        font: var(--font-m);
        font-weight: 700;
    }
    @media (max-width: 969px) {
        svg {
            width: 27px;
            height: 29px;
        }
    }
}

@keyframes slideLogo {
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.location {
    font: var(--font-s);
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: var(--icon-color);
    }
    animation: slideIn 0.5s;
}

.offLocation {
    animation: slideOut 0.5s ease forwards;
    animation-fill-mode: forwards;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-150%);
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    animation: slideBtns 0.7s;
    @media (max-width: 969px) {
        gap: 20px;
    }
    @media (max-width: 768px) {
        animation: slideIn 0.7s;
    }
}

@keyframes slideBtns {
    from {
        transform: translateX(150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.button {
    min-height: 40px;
    min-width: 110px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--button-bg-color);

    color: #fff;
    svg {
        color: #fff;
    }

    &:hover {
        background-color: var(--inverted-button-bg-color);
    }
    @media (max-width: 969px) {
        min-height: 35px;
        min-width: 90px;
        gap: 6px;
        svg {
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 14px;
        }
    }
}

.button span {
    color: #fff;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding: 12px 20px;

    button {
        min-height: 40px;
        min-width: 180px;
        padding: 5px;
        color: #fff;
        border-radius: 9px;
    }
    @media (max-width: 768px) {
        button {
            min-width: 110px;
            font-size: 14px;
        }
        font: var(--font-s);
    }
}

.totalPrice {
    font-family: "Inter";
    font-weight: 600;
    font: var(--font-m);
    color: var(--icon-color);
    @media (max-width: 768px) {
        font: var(--font-s);
      }
}

.popup {
    position: fixed;
    top: calc(var(--content-header-height) + 10px);
    right: 0;
    padding: 10px 32px;
    background-color: var(--light-bg);
    color: var(--primary-color);
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(25, 25, 25, 0.1);
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 7px 15px;
    }
}

@media (max-width: 767px) {
    .location {
        display: none;
    }
}

.menuContent {
    width: 320px;
    max-width: 100%;
    height: 100%;
    padding: 30px 0 40px 25px;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuLinks {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 25px;
    h1 {
        font-weight: 600;
        color: var(--primary-color);
    }
    a {
        color: var(--primary-color);
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    a {
        color: var(--primary-color);
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        color: var(--icon-color);
    }
}