.app_dark {
    --bg-color: #0C1214;
    --light-bg: #151C1F;
    --primary-color: #DBDBDB;
    --icon-color: #ff7010;
    --button-bg-color: #383533;
    --inverted-button-bg-color: #ff7010;
    --border-color: #f0f0f0;

    /* skeleton */
    --dark-bg-redesigned: #090f11;
    --light-bg-redesigned: #232D31B7;
}