.item {
    display: flex;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    button {
      flex-basis: 50%;
    }
  }

  .ingredientsDesc {
    color: var(--primary-color);
    line-height: 1.5;
  }

  .drinksDesc {
    color: var(--primary-color);
    line-height: 1.5;
    font: var(--font-l);

    & p {
      margin-bottom: 10px;
    }
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 35px;
    @media (max-width: 799px) {
      gap: 15px;
      margin-bottom: 27px;
    }
    @media (max-width: 599px) {
      margin-top: 5px;
      margin-bottom: 35px;
    }
  }
  
  .block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    p {
      color: var(--primary-color);
      font: var(--font-m);
    }
    @media (max-width: 589px) {
      font-size: 14px;
      button {
        padding: 2px;
      }
    }
  }