.item {
    display: flex;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    button {
      flex-basis: 50%;
    }

    @media (max-width: 799px) {
      button {
        height: 35px;
      }
      width: 370px;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
    }
    
    @media (max-width: 599px) {
      button {
        height: 30px;
      }
      width: 250px;
      font-size: 12px;
    }
}

  .ingredientsDesc {
    color: var(--primary-color);
    line-height: 1.5;
  }

  .drinksDesc {
    color: var(--primary-color);
    line-height: 1.5;
    font: var(--font-l);

    & p {
      margin-bottom: 10px;
    }
    @media (max-width: 799px) {
      font: var(--font-m);
    }
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (max-width: 799px) {
      gap: 10px;
      margin-bottom: 10px;
    }
    @media (max-width: 599px) {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  
  .block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    p {
      color: var(--primary-color);
      font: var(--font-m);
    }
    
    @media (max-width: 799px) {
      gap: 6px;
    }
    @media (max-width: 599px) {
      p {
        font-size: var(--font-s);
      }
      button {
        padding: 2px;
      }
    }
  }