.link {
    font: var(--font-m);
    font-weight: 400;
    color: var(--primary-color);
    width: fit-content;
    transition: all 0.3s ease 0s;
    &:hover {
        color: var(--icon-color);
    }
    @media (max-width: 1180px) {
        margin-bottom: 20px;
        margin-left: 62px;
    }
    @media (max-width: 969px) {
        margin-left: 38px;
    }
    @media (max-width: 768px) {
        margin-left: 43px;
    }
}
.productBody {
    display: flex;
    flex-direction: column;
}
.title {
    font: var(--font-l);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 25px;
    @media (max-width: 1180px) {
        margin-bottom: 20px;
        margin-left: 62px;
    }
    @media (max-width: 970px) {
        font-size: 30px;
        margin-left: 38px;
    }
    @media (max-width: 768px) {
        text-align: center;
        margin-left: 0;
    }
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 100px;
    @media (max-width: 1180px) {
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 970px) {
        gap: 20px;
    }
    @media (max-width: 768px) {
        width: 320px;
        grid-template-columns: repeat(1, 1fr);
    }
}